<% if object.errors.any? %>
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert">x</a>
		<ul>
			<%= object.errors.full_messages.each do |msg| %>
				<li> - <%= msg %> </li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= object.errors.full_messages %>