<!-- Is there a better way?-->
<h3>Welcome to GAN!, <%= User.find_by_email(@email).full_name %>  </h3>

<p>Please confirm your account email by clicking this link.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
