<%= image_tag attachments['gann_banner.png'].url %>
<br>
<% if @content.length == 0 %>
	This is the email default template.
<% else %>
	<%= @content.html_safe %>
<% end %>

<br><br><br>

<span style="font-size: 16px;">
	Thank you for supporting Gann alumni
	<br><br>
	<span style='font-size: 20px;'><%= link_to "Accept Invitation", @invitation_link %></span>

	<br><br>

	<p>This email is only available for two weeks from the issued date.</p><br>
	<p>If you have received this in error,<br>
	please let us know at alumni@gannacademy.org</p>

	<br>
</span> 
