<%= image_tag attachments['gann_banner.png'].url %>
<br>
<% if @content.length == 0 %>
	This is the email default template.
<% else %>
	<h3>Dear <%= @user.full_name %>,</h3>
	<%= @content.html_safe %>
<% end %>

<br><br><br>

<span style="font-size: 16px;">
	<%= link_to "Accept Invitation", @invitation_link %>
	<br>
	<p>This email is only available for two weeks from the issued date.</p><br>
	<p>If you have received this by error,<br>
	please let us know at alumni@gannacademy.org</p>

	<br>

	<strong>Best, the Gann Alumni Network Support Team</strong>
</span> 
