<h2>Welcome Admin</h2>

<h3> Import Users in CSV format </h3>
<%= form_tag import_users_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>

<br>

<h3>Export Opportunities</h3>
<p>
	Download:
	<%= link_to "CSV", opportunities_path(format: "csv") %>
</p>