<%= render "admins/shared/head" %>
 
<div class="container">
	<%= render "admins/shared/nav" %>

	<h2>Administration</h2>

	<h5> View all applications</h5>
	<%= link_to "View All", admin_applications_path %>
	<br>

	<h2>Reports</h2>

	<br>

	<h5>Invitations sent</h5>
	<%= link_to "Invitations", invitations_path %>
</div>