<h3>Choose your type!</h3>

	<div class="section-header">Alum</div>
	<p>Sign up as alum if you have graduated or currenlty a student of Gann Academy.<br>
		You will be able to issue opportunities or connect with other issuers.</p>
	<%= link_to "Sign up as Alum", new_alum_registration_path, :class => "btn btn-info" %><br>
	<br>
	<div class="section-header">Friend</div>
	<p>Sign up as friend if you are not affiliated with Gann Academy.<br>
		You can only issue opportunities and will not be able to have access to other users or opportunities.</p>
	<%= link_to "Sign up as Friend", new_friend_registration_path, :class => "btn btn-info" %>