<h3>Choose your type</h3>

	<div class="section-header"><i class="icon-group"></i>&nbsp;Alum</div>
	<p>Sign up as an alum if you graduated from, or are currently a student of, Gann Academy.<br> 
		Alums can post opportunities, and connect with other users about the opportunities they posted.</p>
	<%= link_to "Sign up as Alum", new_alum_registration_path, :class => "btn btn-info" %><br>
	<br><br>
	<div class="section-header"><i class="icon-group"></i>&nbsp;Friend</div>
	<p>Sign up as friend if you are not affiliated with Gann Academy.<br>	
	Friends can post opportunities, and connect with alums about the opportunities they posted.</p>
	<%= link_to "Sign up as Friend", new_friend_registration_path, :class => "btn btn-info" %>