<h3>Choose your type!</h3>

	<%= link_to "Sign up as Alum", new_alum_registration_path, :class => "btn btn-info" %> 
	<%= link_to "Sign up as Friend", new_friend_registration_path, :class => "btn btn-info" %>