<!-- Modal -->
<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Terms and Conditions for GAN</h3>
      </div>
      <div class="modal-body">
<h5>1. Your Acceptance</h5>
A.  By using and/or visiting the Gann Alumni Network’s (hereby referred to as “GAN”) website (collectively, including all content and functionality available through the gan.gannacademy.org domain name, or "Website"), you signify your agreement to these terms and conditions (the "Terms"). If you do not agree to any of these Terms, please do not use the Website.
B.  Although we may attempt to notify you when major changes are made to these Terms, you should periodically review the most up-to-date version on the Website. We may, in our sole discretion, modify or revise these Terms and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.
<br>
<h5>2. Your Account</h5>
A.  In order to access some features of the Website, you will have to create a GAN account. You may never use another's account without permission. In order to create an account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you are required to keep your account password secure. You are obliged to immediately notify Gann of any breach of security or unauthorized use of your account.
B.  Gann will not be liable for your losses caused by any unauthorized use of your account, however, you may be liable for your losses or losses of others if unauthorized use of your account occurs.
<br>
<h5>3. General Use of the Website—Permissions and Restrictions</h5>
Gann Academy hereby grants you permission to access and use the Website as set forth in these Terms, provided that:<br>
A.  You agree not to distribute in any medium any part of the Website, including but not limited to Postings (defined below) and the personal and confidential information of other users, without Gann Academy's prior written authorization.
B.  You agree not to alter or modify any part of the Website.<br>
C.  In your use of the website, you will otherwise comply with these Terms and all applicable local, national, and international laws and regulations.<br>
D.  Gann Academy reserves the right to discontinue your use of the Website or remove your account at any time. No explanation will be provided.<br>
<br>
<h5>4. Your Use of Content on the Site</h5>
In addition to the general restrictions above, the following restrictions and conditions apply specifically to your use of the GAN Website.<br>
A.  The content on the GAN Website, including without limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the like ("Content") and the trademarks, service marks and logos contained therein, are owned by or licensed to Gann Academy, subject to copyright and other intellectual property rights under the law. Content on the Website is provided to you AS IS for your information and personal use only and may not be downloaded, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. Gann Academy reserves all rights not expressly granted in and to the Website and the Content.<br>
B.  You may access GAN Content, only as permitted under this Agreement. Gann Academy reserves all rights not expressly granted in and to the GAN Content.<br>
C.  You agree to not engage in the use, copying, or distribution of any of the Content other than expressly permitted herein, for any commercial purposes.<br><br>
<h5>5. Account Termination Policy</h5>

Gann Academy will terminate a User's access to its Website if they are determined to have violated any of these Terms.<br><br>

<h5>6. Links to Third Party Sites</h5>

The Website contains links to websites operated by parties other than the Website. Such links are provided for your convenience only. Gann Academy and the Website does not control such websites, and is not responsible for their contents. Our inclusion of links to such websites does not imply any endorsement of the material on such websites or any association with their operators. 
<br><br>

<h5>7. Third Party Content</h5>

Gann Academy is a distributor (and not a publisher) of content supplied by third parties and users of the site. Accordingly, Gann Academy has no more editorial control over such content than does a public library, bookstore, or newsstand. Any opinions, advice, statements, services, offers, or other information or content expressed or made available by third parties, including information providers and users, are those of the respective author(s) or distributor(s) and not of Gann Academy. In many instances, the content available through the site represents the opinions and judgments of the respective information provider or user. Gann Academy neither endorses nor is responsible for the accuracy or reliability of any opinion, advice or statement made on the site by anyone other than authorized Gann Academy employee spokespersons while acting in their official capacities. 
<br><br>

<h5>8. Limitation of Liability</h5>

IN NO EVENT SHALL GANN ACADEMY, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR WEBSITE, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA GAN WEBSITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. 
<br><br>
THE WEBSITE IS CONTROLLED AND OFFERED BY GANN ACADEMY FROM ITS FACILITIES IN THE UNITED STATES OF AMERICA. GANN ACADEMY MAKES NO REPRESENTATIONS THAT THE GAN WEBSITE IS APPROPRIATE OR AVAILABLE FOR USE IN OTHER LOCATIONS. THOSE WHO ACCESS OR USE THE GAN WEBSITE FROM OTHER JURISDICTIONS DO SO AT THEIR OWN VOLITION AND ARE RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAW. 
<br><br>

<h5>9. Warranty Disclaimer</h5>

YOU AGREE THAT YOUR USE OF THE GAN WEBSITE SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, GANN ACADEMY, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND YOUR USE THEREOF. GANN ACADEMY MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT, THE POSTINGS, OR THE CONTENT OF ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE, (III) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR POSTINGS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE GANN ACADEMY WEBSITE. GANN ACADEMY DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY STATEMENT MADE BY A THIRD PARTY THROUGH THE GANN ACADEMY WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND GANN ACADEMY WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION OR COMMUNICATION BETWEEN YOU AND THIRD-PARTY. 
<br><br>

<h5>10. Indemnity</h5>

You agree to defend, indemnify and hold harmless Gann Academy, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Gann Academy Website; (ii) your violation of any term of these Terms; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that content you may have posted to the Website caused damage to a third party. 
<br><br>

<h5>11. Ability to Accept Terms</h5>
You affirm that you are either more than 18 years of age, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these Terms.
<br><br>

<h5>12. Assignment</h5>

Any rights and licenses granted hereunder, may not be transferred or assigned by you to anyone, but may be assigned by Gann Academy without restriction.
<br><br>
YOU AND GANN ACADEMY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE GAN WEBSITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Terms of Use</h3>
      </div>
      <div class="modal-body">
        Please agree to the terms of service.
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="detection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Warning!</h3>
      </div>
      <div class="modal-body">
        The current browser version that you are using is not optimized for this platform.<br>
        Please use IE9+, Chrome, Safari, of Firefox for maximum user experience.
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->