<div class="nested-fields">
	<div>
		<%= f.text_field :name, :value => current_user.full_name %>
	</div>
	<br>
	<div><%= f.label "Additional Contact Info", :class => "section-header" %>
      &nbsp;<a id="additional_contact" class="help"><i class="fa fa-question-circle"></i></a><br>

	<div>
		<%= f.text_field :email %>
	</div>
</div>

<br>