<h2>About GAN</h2>

<p>
	
As a pluralistic Jewish high school, Gann encourages our students to consider their relationship to Judaism, Israel and the Jewish community around the world. As Judaism becomes a source of meaning, inspiration and personal responsibility, the four-year conversation you will have with Judaism at Gann can be one of the richest and transforming of your life.
</p>