<% content_for :title, "About" %>



<div class="container">
	<h3 class="neatfont">About Gann Alumni Network</h3>
	<hr class="style-one"></hr>
	<p>
		
	<span class="indent"/>The Gann Alumni Network has been developed by the school’s Alumni Association in response to feedback from alumni about the value of professional development and career advancement opportunities leveraging the extended Gann community. Because of Gann’s base in eastern Massachusetts, robust networking opportunities can be provided for alumni wishing to return to greater Boston after graduation as well as for college students during their college years. This website has been built to facilitate connections and networking among Gann alumni, Gann alumni parents and friends of Gann Academy.<br>
	<span class="indent"/>Gann Academy is a pluralistic independent Jewish high school in greater Boston. Founded in 1997, there are now over 800 alumni.
	</p>
</div>