<h3>Contact us!</h3>

<p>
<i class="icon-envelope"></i>&nbsp;<span class="section-header">Having troubles?</span><br>
Please contact the Office of Alumni
</p>

<br>

<p>
<i class="icon-envelope"></i>&nbsp;<span class="section-header">Want to know more about Gann Academy?</span><br>
Please visit the school's website @ 
<a href="http://www.gannacademy.org" target="_blank">Gann Academy homepage</a>

</p>