<h2>Now You can use the service!</h2>

<%= link_to "Create Opportunities", new_opportunity_path, :class => "btn btn-info" %>
<%= link_to "View All", opportunities_path, :class => "btn btn-primary" %>



