<h2>Hello! GANGAN</h2>

	<% if friend_signed_in? %>
		Logged in!
		<%= link_to "Logout", destroy_friend_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_friend_registration_path %>
		<%= link_to "Log in", new_friend_session_path %>
	<% end %>