.trebuchet{
	font-family: "Trebuchet MS";
}

.neatfont{
	font-family: 'Alegreya Sans', sans-serif; 
}

.brownfont{
	color: #610c1f;
}

h4 > small {
	color: #636164;
}

.field-header{
	font-family: 'Alegreya Sans', sans-serif; 
	font-size: 20px;
	display: inline-block;
	margin-bottom: 5px;
}