.custom-form {
	display: inline-block;
}


.whitefont{
	color: #ffffff;
}

.width50{
	width: 300px;
}

/* Override rest of the bootstrap*/
.box_shadow{
	-moz-box-shadow: 5px 5px 5px 1px #000000;
	-webkit-box-shadow: 5px 5px 5px 1px #000000;
	box-shadow: 5px 5px 5px 1px #000000;
}

.box_radius{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.box_padding{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 60px;
}

.sky_background{
	background-color: #edecec;
}

.alert{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}



/* Override bootstrap to customize navbar*/

.navbar .brand{
	text-shadow: none;
	font-weight: 700;
	font-family: Georgia;
	font-size: 18px;
	color: #ffffff;
}

.navbar .nav > li > a, .nav > a{
	text-shadow: none;
	color: #ffffff;
}

.navbar-inner{
	background-color: #3d3d3d;
	background-image: none;
}

.navbar-hcenter{
	line-height: 40px;
}


/*Fonts configuration*/

.section-header{
	font-weight: 700;
	font-family: Georgia;
	font-size: 18px;
	display: inline-block;
}

.text-align-center{
	text-align: center;
}

.italics{
	font-style: italic;
}