.custom-form {
	display: inline-block;
}

/* Mouse popover pointer*/

.help{
	cursor: help;
}

.whitefont{
	color: #ffffff;
}

.width50{
	width: 300px;
}

/* Override rest of the bootstrap*/
.box_shadow{
	-moz-box-shadow: 5px 5px 5px 1px #000000;
	-webkit-box-shadow: 5px 5px 5px 1px #000000;
	box-shadow: 5px 5px 5px 1px #000000;
}

.box_radius{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.box_padding{
	padding-left: 35px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 60px;
}

.sky_background{
	background-color: #edecec;
}

.alert{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.blank_block{
	height:110px;
}


/* Override bootstrap to customize navbar*/


.navbar .brand{
	text-shadow: none;
	font-weight: 700;
	font-family: Georgia;
	font-size: 30px;
	color: #ffffff;
}

.navbar .nav > li > a:hover{
	color: #992135;
	text-decoration: underline;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover{
	font-size: 18px;
	color: #ffffff;
}

.nav > a{
	text-shadow: none;
	font-size: 16px;
	color: #992135;
}

.navbar-inner{
	padding-right: 0px;
	background-color: #992135;
	background-image: none;
}

.navbar-hcenter{
	background-color: #C6930A;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #992135;

	-moz-border-bottom-left-radius: 13px;
	-webkit-border-bottom-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

.footer_bar{
	margin-top: 70px;
	background-color: #992135;
	height: 140px;
}

/*Fonts configuration*/

.section-header{
	font-weight: 700;
	font-family: Georgia;
	font-size: 18px;
	display: inline-block;
}

.text-align-center{
	text-align: center;
}

.italics{
	font-style: italic;
}

/* Google Map API */
#map-canvas-new, #map-canvas-show, html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	padding-bottom: 150px;
}

#map-canvas-new img, #map-canvas-show img {
	max-width: none;
}

#map-canvas-new label, #map-canvas-show label {
	width: auto;
	display: inline;
}


.gmap {
	height: 350px;
	width: 600px;
}
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
