$grey_color: #e5e5e9;

/*$blue_color: #122f45;*/
$blue_color: #336699;
$container_width: 900px;
$container_side_padding: 15px;

$opportunities_index_left_container_width: 630px;
$opportunities_index_container_margin_right: 30px;

@mixin box-padding{
	padding-left: $container_side_padding;
	padding-right: $container_side_padding;
	padding-top: 20px;
	padding-bottom: 20px;
}

@mixin box_shadow{
	-moz-box-shadow: 1px 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px 1px #000000;
	box-shadow: 1px 1px 1px 1px #000000;
}

/* Whole html page*/
#holder{
	min-height: 100%;
	position: relative;
}

#body{

	padding-bottom: 190px;
}

body{
	background-color: #ffffff;
}

/* Container settings */
.super-container{
	width: $container_width + 2 * $container_side_padding;
	margin-right: auto;
	margin-left: auto;
}

.well{
	@include box_shadow;
}

/* To be changed for media queries */
.container{
	position: relative;
	width: $container_width;
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

.opportunities_index_left_container{
	width: $opportunities_index_left_container_width;
	margin-right: $opportunities_index_container_margin_right;
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

.opportunities_index_right_container{
	width: $container_width - $opportunities_index_left_container_width - $opportunities_index_container_margin_right - 2 * $container_side_padding;
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

.account_left{
	width: 450px;
}

.account_right{
	width: 440px;
}

.divider{
	position: absolute;
	top: 6%;
	left: 460px;
	bottom: 6%;
	border-left: 2px solid #a7b0ad ;
}

.clear{
	clear: both;
}

.align-left{
	float: left;
}

.align-right{
	float: right;
}

.footer_bar{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #992135;
	height: 140px;
}

a:hover {
	text-decoration: none;
}

.indent{
	margin-left: 20px;
}


.select_box{
	width: 120px;
}

.custom-form {
	display: inline-block;
}

.upload_btn, .sponsor_btn {
	cursor: default;
}

.upload_btn > a, .sponsor_btn > a {
	color: #ffffff;
}

.file_display{
	min-width: 200px;
}
/* Mouse popover pointer*/

.help{
	cursor: help;
}

.whitefont{
	color: #ffffff;
}

.navyfont{
	color: $blue_color;
}

.width50{
	width: 300px;
}

/* Override rest of the bootstrap*/


.box_radius{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.box_padding{
	padding-left: $container_side_padding;
	padding-right: $container_side_padding;
	padding-top: 20px;
	padding-bottom: 40px;
}

.alert{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.blank_block{
	height:110px;
}

input[type="checkbox"] {
	margin: -5px 0px 0px;
}

/* Override bootstrap to customize navbar*/


.navbar .brand{
	text-shadow: none;
	font-size: 30px;
	color: #ffffff;
}

.navbar .nav > li > a:hover{
	color: #992135;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover{
	font-size: 18px;
	color: #ffffff;
}

.nav > a{
	text-shadow: none;
	font-size: 16px;
	color: #992135;
}

.navbar-inner{
	padding-right: 0px;
	background-color: #992135;
	background-image: none;
}

.navbar-hcenter{
	background-color: #C6930A;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #992135;

	-moz-border-bottom-left-radius: 13px;
	-webkit-border-bottom-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

/* Error message */
.field_with_errors {
	display: inline;

	label {
		display: inline;
	}
}

.field_with_errors .message {
	color: #D00;
	padding-left: 5px;
	font-size: 13px;
}

/*Error message*/
.error_messages{
	color:#D00;
}

/*Fonts configuration*/

.section-header{
	font-family: 'Alegreya Sans', sans-serif; 
	color :$blue_color;
	font-weight: 600;
	font-size: 22px;
	display: inline-block;
}

.text-align-center{
	text-align: center;
}

.italics{
	font-style: italic;
}

/* Google Map API */
#map-canvas-new, #map-canvas-show, html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


#map-canvas-new img, #map-canvas-show img {
	max-width: none;
}

#map-canvas-new label, #map-canvas-show label {
	width: auto;
	display: inline;
}


.gmap {
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	@include box_shadow;
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
