/*#3BB69E*/
/*$grey_color: #e5e5e9;*/
$grey_color: #f0f0f0;

/*$blue_color: #122f45;*/
$blue_color: #336699;
$container_width_high: 700px;
$container_width_medium: 550px;
$container_width_low: 400px;

$container_side_padding: 15px;

$left_container_width: 490px;
$left_container_margin_right: 20px;

@mixin box-padding{
	padding-left: $container_side_padding;
	padding-right: $container_side_padding;
	padding-top: 20px;
	padding-bottom: 20px;
}

@mixin box_shadow{
	-moz-box-shadow: 1px 1px 1px 1phx #000000;
	-webkit-box-shadow: 1px 1px 1px 1px #000000;
	box-shadow: 1px 1px 1px 1px #000000;
}

@mixin container_basic{
	position: relative;
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

/* Whole html page*/
#holder{
	min-height: 100%;
	position: relative;
}


body{


	background-color: #ffffff;
}

/* Container settings */

@media all and (min-width: 980px) {
	
	.highonly{
		display: inline;
	}

	.medium{
		display: none;
	}

	.container{
		@include container_basic;
		width: $container_width_high;
	}

	.announcement-container{
		height: 200px;
		overflow: auto;
	}

	.super-container{
		width: $container_width_high + 2 * $container_side_padding;
		margin-right: auto;
		margin-left: auto;
	}

	.left_container{
		width: $left_container_width;
		margin-right: 20px;
	}

	.right_container{
		width: $container_width_high - $left_container_width - 20 - 2 * $container_side_padding;
	}

	.span3{
		width: 280px;
	}

	.span2{
		width: 220px;
	}

	.offset1{
		margin-left: 80px;
	}

	#body{
		padding-top: 120px;
		padding-bottom: 190px;
	}
}

@media all and (max-width: 979px) and (min-width: 751px) {
	
	.highonly{
		display: none;
	}

	.medium{
		display: inline;
	}
	
	.container{
		@include container_basic;
		width: $container_width_medium;
	}

	.announcement-container{
		height: 150px;
		overflow: auto;
	}


	.super-container{
		width: $container_width_medium + 2 * $container_side_padding;
		margin-right: auto;
		margin-left: auto;
	}

	.left_container{
		width: $container_width_medium;
		margin-right: 0px;
	}

	.right_container{
		width: $container_width_medium;
	}

	.span3{
		width: 200px;
	}

	.offset1{
		margin-left: 60px;
	}

	#body{
		padding-top: 20px;
		padding-bottom: 190px;
	}
	.span2{
		width: 150px;
	}
}

@media all and (max-width: 750px){

	.highonly{
		display: none;
	}

	.medium{
		display: inline;
	}

	.container{
		@include container_basic;
		width: $container_width_low;
	}

	.announcement-container{
		height: 130px;
		overflow: auto;
	}

	.super-container{
		width: $container_width_low + 2 * $container_side_padding;
		margin-right: auto;
		margin-left: auto;
	}

	.left_container{
		width: $container_width_low;
		margin-right: 0px;
	}

	.right_container{
		width: $container_width_low;
	}

	#body{
		padding-top: 20px;
		padding-bottom: 190px;
	}

	.span2{
		width: 100px;
	}
}

.large_container{
	@include container_basic;
	width: 900px;
}

.well{
	@include box_shadow;
}

.sidebar{
	width: 165px;
	position: absolute;
	left: -200px;
	top: 0px;
}

/* To be changed for media queries */

.left_container{
	/*width: $opportunities_index_left_container_width;*/
	/*margin-right: $opportunities_index_container_margin_right;*/
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

.right_container{
	/*width: $container_width_high - $opportunities_index_left_container_width - $opportunities_index_container_margin_right - 2 * $container_side_padding;*/
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}

.account{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: $grey_color;
	@include box-padding;
	@include box_shadow;
}


/*.divider{
	position: absolute;
	top: 6%;
	left: 460px;
	bottom: 6%;
	border-left: 2px solid #a7b0ad ;
}*/

.clear{
	clear: both;
}

.align-left{
	float: left;
}

.align-right{
	float: right;
}

.footer_bar{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #992135;
	height: 140px;
}

a:hover {
	text-decoration: none;
}

.indent{
	margin-left: 20px;
}


.select_box{
	width: 120px;
}

.custom-form {
	display: inline-block;
}

.upload_btn, .sponsor_btn {
	cursor: default;
}

.upload_btn > a, .sponsor_btn > a {
	color: #ffffff;
}

.file_display{
	min-width: 200px;
}

/* Horizontal Divider*/
.style-one {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left,#ccc,#333,#ccc);
	background-image: -moz-linear-gradient(left,#ccc,#333,#ccc);
	background-image: -ms-linear-gradient(left,#ccc,#333,#ccc);
	background-image: -o-linear-gradient(left,#ccc,#333,#ccc);
}

.style-two {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

.style-two:before{
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-coor: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/* Mouse popover pointer*/

.help{
	cursor: help;
}

.whitefont{
	color: #ffffff;
}

.navyfont{
	color: $blue_color;
}

.width50{
	width: 300px;
}

/* Override rest of the bootstrap*/


.box_radius{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.box_padding{
	padding-left: $container_side_padding;
	padding-right: $container_side_padding;
	padding-top: 20px;
	padding-bottom: 40px;
}

.alert{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.blank_block{
	height:110px;
}

input[type="checkbox"] {
	margin: -5px 0px 0px;
}

/* Override bootstrap to customize navbar*/

input[type="radio"]{
	margin: -2px 0px 0px;
}

.tooltip-inner {
	width: 350px;
}

.navbar-fixed-top .navbar-inner{
	padding-left: 25px;	
}

.navbar .brand{
	font-family: 'Alegreya Sans', sans-serif; 
	text-shadow: none;
	font-size: 30px;
	color: #ffffff;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover{
	font-size: 18px;
	color: #ffffff;
	text-shadow: none;
}

.nav > a{
	text-shadow: none;
	font-size: 16px;
	color: #992135;
}

.navbar-inner{
	padding-right: 0px;
	background-color: #992135;
	background-image: none;
}

.navbar-hcenter{
	background-color: #C6930A;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 40px;
	color: #992135;

	-moz-border-bottom-left-radius: 13px;
	-webkit-border-bottom-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

/* Error message */
.field_with_errors {
	display: inline;

	label {
		display: inline;
	}
}

.field_with_errors .message {
	color: #D00;
	padding-left: 5px;
	font-size: 13px;
}

.required {
	color: #D00;
	padding-left: 5px;
	font-size: 18px;
}

/*Error message*/
.error_messages{
	color:#D00;
}

/*Fonts configuration*/

.section-header{
	font-family: 'Alegreya Sans', sans-serif; 
	font-weight: 600;
	font-size: 22px;
	display: inline-block;
}

.text-align-center{
	text-align: center;
}

.italics{
	font-style: italic;
}

/* Google Map API */
#map-canvas-new, #map-canvas-show, html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	/*padding: 0;*/
}


#map-canvas-new img, #map-canvas-show img {
	max-width: none;
}

#map-canvas-new label, #map-canvas-show label {
	width: auto;
	display: inline;
}


.gmap {
	height: 270px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	@include box_shadow;
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
