.custom-form {
	display: inline-block;
}


.whitefont{
	color: #ffffff;
}

/*Fonts configuration*/

.section-header{
	font-weight: 700;
	font-family: Georgia;
	font-size: 18px;
}

.text-align-center{
	text-align: center;
}

.italics{
	font-style: italic;
}