<%= image_tag attachments['gann_banner.png'].url %>
<br>

<span class="section-header">
	Dear <%= @opportunity.user.fname %>,

	<br><br>
	You have just created the following opportunity:

</span>
<br>
<h3><%= @opportunity.title %></h3>
<br>
<p>
	<%= @opportunity.description.html_safe %>
</p>

<br>

Best,<br>

GAN (Gann Alumni Network) support team