<p>Hello, friends of Gann Academy!</p>
<br>
<p>
	Thank you for your interest is Gann Alumni Network.<br>
	Please click here to accept invitation.
</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>If this has arrived you by error,<br>
please let us know at alumni@gannacademy.org</p>

<br>

Best,<br>

GAN (Gann Alumni Network) support team
